@font-face {
  font-family: "Young Serif";
  src: url("../fonts/YoungSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$mobile: 768px;

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}

:root {
  --color-white: #ffffff;

  --color-stone-100: #f3e6d8;
  --color-stone-150: #e4ded8;
  --color-stone-600: #5f574e;
  --color-stone-900: #302d2c;

  --color-brown-800: #854632;

  --color-rose-50: #fff5fa;
  --color-rose-800: #7b284f;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-stone-600);
  background-color: var(--color-stone-100);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 130px;

  @include mobile {
    margin-block: 0;
    margin-bottom: 30px;
    background-color: var(--color-white);
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: var(--color-white);
  max-width: 655px;
  height: auto;
  border-radius: 20px;
  padding: 40px;

  @include mobile {
    max-width: 375px;
    padding: 0;
    border-radius: 0;
    margin-bottom: 30px;
  }

  &__img,
  &__time {
    border-radius: 10px;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 0;
      border-radius: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include mobile {
      padding: 40px 30px;
    }

    & * {
      margin: 0;
      padding: 0;
    }
  }

  & p {
    line-height: 1.5;
  }

  & h1,
  h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 1;
  }

  & h2 {
    font-size: 24px;
    color: var(--color-brown-800);
    padding-bottom: 30px;
  }

  & li {
    padding-left: 15px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::marker {
      color: var(--color-brown-800);
    }

    & span {
      font-weight: 600;
    }
  }

  & li::marker {
    font-size: 12px;
  }

  &__head {
    &-title {
      font-size: 36px;
      color: var(--color-stone-900);
      margin-bottom: 30px;
    }
  }

  &__time {
    background-color: var(--color-rose-50);
    padding: 25px;

    &-title {
      font-weight: 600;
      font-size: 20px;
      color: var(--color-rose-800);
    }

    &-list {
      padding-inline-start: 25px;
      padding-top: 10px;
    }

    &-item {
      &::marker {
        color: var(--color-rose-800);
      }
    }
  }

  &__ingredients,
  &__instructions {
    padding-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
  }

  &__ingredients {
    &-list {
      padding-inline-start: 20px;
    }
  }

  &__instructions {
    &-list {
      padding-left: 25px;
    }

    &-item {
      &::marker {
        font-size: 16px !important;
        font-weight: 600;
      }
    }
  }

  &__nutrition {
    &-description {
      padding-bottom: 20px;
    }

    &-table {
      width: 100%;

      & tr {
        padding: 10px 25px;
        display: flex;

        &:not(:last-child) {
          border-bottom: 2px solid #f0f0f0;
        }
      }

      & td {
        width: 300px;

        &:nth-child(even) {
          color: var(--color-brown-800);
          font-weight: 600;
        }

        @include mobile {
          width: 130px;
        }
      }
    }
  }
}
